<h2>NAME: <%= @track[4] %></h2>
<h3>COMPOSER: <%= @track[5] %></h3>
<h3>ID: <%= @track[0] %></h3>
<h3>ALBUM ID: <%= @track[1] %></h3>
<h3>MEDIA TYPE: <%= @track[2] %></h3>
<h3>GENRE: <%= @track[3] %></h3>
<h3>DURATION: <%= @track[6] %> milliseconds</h3>
<h3>SIZE: <%= @track[7] %> bytes</h3>
<h3>PRICE: $<%= @track[8] %></h3>
<img src="/spinning-record.gif" class="spinning-record">
